<a href="https://colab.research.google.com/github/johndavesapunto/PLNG211-QC/blob/main/Control_and_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#If Statement

a = 12
b = 12
if a < b:
  print("a is less than b")

In [6]:
#Elif Statement

if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")

a is greater than b

In [10]:
if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [12]:
#Short Hand if Statement

c = 15
d = 10

if c > d: print("c>d")

c>d

In [15]:
#Short Hand If.. Else Statement
print('c>d') if c > d else print('d > c')

c>d

In [17]:
#And Statement

if 5>10 and 8 >8:
  print("both statements are true")
else:
  print("One of the statements is false /both statements are not true")

One of the statements is false /both statements are not true

In [16]:
#Or Statement
if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [18]:
#Bitwise operator ^ (xor)

e = 4     #0100 in binary
f = 2     #0010 in binary

e^f

6

In [22]:
#Nested if Stattement
x = 41
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("the number is above 50")
        else:
          print("the number is less than 50")
      else:
        print("The number is less than 40")

number is above 10
number is above 20
number is above 30
number is above 40
the number is less than 50

In [31]:
#Application 1
#Write a program that determines if the input age is qualified to vote or not
#The qualifying age is 18 years old and above.

age = int(input('What is your age: '))

if age > 17:
  print("You're qualified to vote")
else:
  print("You're not qualified to vote")

What is your age: 17
You're not qualified to vote

In [ ]:
#Application 2

number = int(input('Input a number: '))

if number < 0:
  print("The number is negative")
elif number > 0:
  print("The number is positive")
else:
  print("The number is zero")

In [34]:
#for loop statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print (y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [35]:
#Range () Function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [36]:
for x in range(2,6+1):
  print(x)

2
3
4
5
6

In [37]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banna", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banna
red cherry
big apple
big banna
big cherry
tasty apple
tasty banna
tasty cherry

In [38]:
i = 1
while i < 6:
  print(i)
  i +=1

1
2
3
4
5

In [39]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [42]:
#Application 3
#Using while loop and break statement, the output only is 3

i = 1
while i < 6:
  if i == 3:
    print(i)
    break
  i += 1

3